{% extends "accounts/base.html" %}
{% load i18n static %}
{% load widget_tweaks %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <form class="forget-form-sms" action="{% password_reset_mobile %}" method="post" style="display: block;">
        {% csrf_token %}
        <h3 class="font-green">{%  trans "Forget Password ?" %}</h3>
        <p>{%  trans "Enter your SMS below to reset your password. " %}</p>
        <div class="form-group {% if form.mobile.errors %}has-error{% endif %}">
            {% render_field form.mobile class="form-control  placeholder-no-fix" placeholder=form.email.label autocomplete="false" %}
            <span class="help-block">{{ form.mobile.errors }}</span>
        </div>
        <div class="form-group {% if form.captcha.errors %}has-error{% endif %}">
            {{ form.captcha }}
            <span class="help-block">{{ form.captcha.errors }}</span>
        </div>

        <div class="form-actions">
            <a href="{{ login_url }}" class="btn green btn-outline">{%  trans "Back" %}</a>
            <button type="submit" class="btn btn-success uppercase pull-right">{%  trans "Submit" %}</button>
        </div>
    </form>
{% endblock %}