{% extends "email_base.html" %}
{% load i18n %}
{% block content %}
<p>{% trans "You're receiving this email because you requested a password reset for your user account at "} {{ site_name }}.</p>

<p>{% trans "Please go to the following page and choose a new password: " %}</p>

<p><a href="{{ protocol }}://{{ domain }}{{ reset_url }}">
{{ protocol }}://{{ domain }}{{ reset_url }}</a>
    </p>
    
<p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock %}