{% load static %}<!DOCTYPE html>
<html lang="en">
<body>
<form action="" id="formulario" method="POST">
    <input type="hidden" name='token' id="token" value=""></input>
</form>
</body>
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript">
function get_token() {
    $.ajax({
    url:'/v1/apps/get_token/tai/{{tai}}/',
    type: 'GET',
    complete: function (Req, textStatus)
        {
            if(Req.status != 200)
            {
                alert("Error")
            }
            else
            {
                var respuesta = JSON.parse(Req.responseText);
                $("#token").val(respuesta['token']);
                $("#formulario").attr('action',respuesta['url']);
                $("#formulario").submit();
            }
        },//fin complete
    })
}
get_token();
</script>
</html>