{% extends "base.html" %}

{% block title %} Autorización {% endblock title %}

{% block content %}

<main role="main" class="inner cover">

<div class="card">
        <div class="card-header">
          <img src="{{app.poster.url}}" width="200px;">
          <h1>{{app.nombre}}</h1>
        </div>
        <div class="card-body">
        	<p class="lead">{{app.descripcion}}</p>
			<p class="lead">
				<ul>
					{% for e in app.permisos.all %}
					<li>{{e}}</li>
					{% endfor%}
				</ul>
			</p>
			<p class="lead">
			    <form action="" id="formulario" method="POST">
			    	<a href="javascript:window.history.back();" class="btn btn-lg btn-primary btn-info" role="button">Volver</a>
			    	<input type="hidden" name='token' id="token" value=""></input>
			    	<button class="btn btn-lg btn-primary" role="button" type="button" id="get_token">Instalar</button>
			    </form>
			</p>
        </div>
      </div>
</main>


{% endblock content %}

{% block class_body %}text-center{% endblock class_body %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function () {
	$("#loader").removeClass('loading');
	$("#get_token").on("click",function(){

		function _instalar(){
			$.ajax({
			url:'/v1/apps/instalacion/',
        	type: 'POST',
        	data:{
        		app:'{{app.persona.uuid}}',
        		persona:'{{persona.uuid}}',
        		tai_instalar: '{{tai_instalar}}'
        	},
        	complete: function (Req, textStatus)
		        {
		            if(Req.status != 201)
		            {
		                alert("Error")
		            }
		            else
		            {
		            	var respuesta = JSON.parse(Req.responseText);
		                get_token(respuesta);
		            }
		        },
			})
		}

		function get_token() {
			$.ajax({
			url:'/v1/apps/get_token/tai/{{tai}}/',
        	type: 'GET',
        	complete: function (Req, textStatus)
		        {
		            if(Req.status != 200)
		            {
		                alert("Error")
		            }
		            else
		            {
		            	var respuesta = JSON.parse(Req.responseText);
		                $("#token").val(respuesta['token']);
		                $("#formulario").attr('action',respuesta['url']);
		                $("#formulario").submit();
		            }
		        },//fin complete
			})
		}
		_instalar();

	});
})
</script>
{% endblock extra_js %}
