{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  {% include "head.html" %}
  {% block extra_head %}{% endblock extra_head %}
  <link rel="icon" type="image/ico" href="{% static 'favicon.ico' %}"/>
</head>
<body class="{% block class_body %}{% endblock class_body %}">
  <div class="{% block class_cover %}cover-container{% endblock class_cover %} d-flex w-100 h-100 p-3 mx-auto flex-column">
    
    {% block content %}{% endblock content %}
    {% block footer %}{% include "footer.html" %}{% endblock footer %} 
  
  </div>
  <div class="loading" id="loader"></div>

  {% include "js.html" %}
  {% block extra_js %}{% endblock extra_js %}
</body>
</html>
